{% extends 'strecklista/base.html' %}
{% block content %}
<div class="container">
  <h1>Strecklistan</h1>
  <h3 class="form-signin-heading">Logga in</h3>
  {% if error_message %}
    <div class="alert alert-warning">{{error_message}}</div>
  {% endif %}
  <form class="form-signin" action="{{action}}"method="post">
    {% load widget_tweaks %}
    {% csrf_token %}
    <div class="form-group">
      <label for="inputUsername">Email address</label>
      {{form.username}}
    </div>
    <div class="form-group">
      <label for="inputPassword">Lösenord</label>
      {{form.password}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <br/>
  <p>Behöver du ett konto? Skicka en förfrågan här: <a href="/register/">Nytt konto</a></p>
  <p>Har du glömt ditt lösenord? återställ det här: <a href="/request_reset/">Återställ lösenord</a></p>
</div>
{% endblock %}
