{% extends 'strecklista/base.html' %}
{% block content %}
<style>
{% include 'strecklista/components/quote.css' %}
</style>

<script>
$(function() {
  $('#quoteForm').on('submit', function(e) {
    e.preventDefault();
    var $form = $(this);

    $.post('/submitQuote/', $form.serialize())
      .then(function (html) {
        $('#status').text('Citat sparat!')
          .addClass('alert-success').removeClass('alert-danger');
        $('#quoteDiv').prepend(html);
        $form.find('input[type=text]').val('');
      }, function (xhr) {
        $('#status').text(xhr.responseText)
          .removeClass('alert-success').addClass('alert-danger');
      });
  });
});
</script>
{% include "strecklista/snippets/navbar.html" %}
<div class="container">
  <h1>Citat</h1>

  <div id="status" class="alert"></div>

  <form target="/submitQuote/" method="post" id="quoteForm" class="clearfix">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="form-group">
      <label>Vad sas?</label>
      {{ form.text | attr:"class:form-control" }}
    </div>
    <div class="form-group">
      <label>Vem sa det?</label>
      {{ form.name | attr:"class:form-control" }}
    </div>
    <input class="btn btn-primary pull-right" type="submit" value="Skicka in">
  </form>

  <h2>Tidigare citat</h2>
  <div id="quoteDiv">
    {% for quote in quotes %}
      {% include 'strecklista/components/quotecard.html' with quote=quote %}
    {% endfor %}
  </div>
</div>
{% endblock %}
