{% extends 'strecklista/base.html' %}
{% block content %}
<div class="container">
  <h1>Strecklistan</h1>
  <h3 class="form-signin-heading">Registrera dig här:</h3>
  {% if error_message %}
    <div class="alert alert-warning">{{error_message}}</div>
  {% endif %}
  <form class="form-signin" action="{{action}}"method="post">
    {% load widget_tweaks %}
    {% csrf_token %}
    <div class="form-group">
      <label>Förnamn / First name</label>
      {{form.first_name}}
    </div>
    <div class="form-group">
      <label>Efternamn / Last name</label>
      {{form.last_name}}
    </div>
    <div class="form-group">
      <label>Email</label>
      {{form.email}}
    </div>
    <div class="form-group">
      <label>Meddelande till QM / Message to QM</label>
      {{form.message}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Skicka in</button>
  </form>

  <br/>
  <p>När en admin har godkänt din förfrågan kommer du att få ett mail med en länk där du kan sätta ett lösenord.</p>
  <br/>
  <p>Har du redan ett konto? <a href="/login/">Logga in här</a></p>
</div>
{% endblock %}
