<!DOCTYPE html>
<html lang="en">

<head>
    {% include "strecklista/snippets/head_content.html" %}

</head>

<body>


<!-- Page Content -->
<div class="container">
    <h1>Strecklistan - Återställ lösenord</h1>
    <br>
    <br>

    {% if resetForm %}

    <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <label>Key:</label><input name="key" {% if key %}value="{{ key }}{% endif %}">
        </br>
        <label>Löserord:</label>{{ resetForm.password1 }}
        </br>
        <label>lösenord igen:</label>{{ resetForm.password2 }}
        </br>

        <input type="submit" value="Återställ lösenord">

     </form>
    {% endif %}
{% if state %}
            {{ state }}
        {% endif %}
</div>
<!-- /.container -->

</body>

</html>
