{% extends 'strecklista/base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
{% include 'strecklista/components/products.css' %}
{% include 'strecklista/components/transactions.css' %}
{% include 'strecklista/components/usercard.css' %}
</style>
<script>
  $(function() {
    var $body = $('body');

    handleClick('.transactionSubmit', '/transaction/');
    handleClick('.returnTransaction', '/returnTransaction/');

    function handleClick(target, path) {
      $body.on('click', target, function(e) {
        e.preventDefault();
        var $button = $(this).prop('disabled', true);

        $.post(path, $(this.parentElement).serialize())
          .then(success, failure)
          .always(function () {
            $button.prop('disabled', false);
            refreshTransactions();
            refreshAlert();
          });
      });
    }

    var success = showImageBubble("{% static 'strecklista/images/emma.gif' %}", flash('green'));
    var failure = flash('red');

    function flash(color) {
      return function success() {
        $body.css('background-color', color);
        setTimeout(function() {
          $body.css('background-color', 'white');
        }, 500);
      };
    }

    function showImageBubble(url, fallback) {
      return function() {
        var minDim = Math.min(window.innerWidth, window.innerHeight) * .7;
        var $img = $('<img>').attr('src', url)
            .on('error', fallback).on('load', show)
            .addClass('img-bubble initial').appendTo($body)
            .css({
              width: minDim,
              margin: -minDim / 2,
            });

        function show() {
          setTimeout(function() {
            $img.removeClass('initial');
            setTimeout(function () {
              $img.addClass('initial');
              setTimeout(function () {
                $img.remove();
              }, 200);
            }, 1000)
          }, 30);
        }
      }
    }

    function refreshAlert() {
      $('#balanceAlertContainer').load('/ #balanceAlertContainer div');
    }
    function refreshTransactions() {
      $('#transactionrow').load('/ #transactionrow > *');
    }

    $('.alcometer').tooltip()

  });
</script>
{% include "strecklista/snippets/navbar.html" %}
<style>
.tabs {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #eee;
  display: flex;
  z-index: 100;
  box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}

.tab-option .ink {
  position: absolute;
  border-radius: 50%;
  background-color: firebrick;
  margin-left: -100px;
  margin-top: -100px;
  height: 200px;
  width: 200px;
  transition: transform .4s, opacity .2s .2s;
  transform: scale(1);
  opacity: 0;
}

.ink.initial {
  transform: scale(.001);
  opacity: .2;
}

.img-bubble {
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: scale(1);
  transition: transform .1s;
}

.img-bubble.initial {
  transform: scale(.001);
}

.tabs > .tab-option {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}

.tabs > .tab-option[aria-selected] {
  color: firebrick;
  font-weight: bold;
}

.tabs-viewport {
  margin-top: -50px;
  padding: 50px 0;
  height: 100vh;
  overflow: hidden;
}

.tabs-container {
  width: 300vw;
  height: 100%;
  transition: .25s transform ease;
}

.tab-content {
  padding: 10px;
  padding-bottom: 60px;
  width: 100vw;
  height: 100%;
  float: left;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
</style>
<div class="tabs">
  <div class="tab-option" aria-selected>
    <i class="material-icons">local_bar</i>
    <span>Streque</span>
  </div>
  <div class="tab-option">
    <i class="material-icons">list</i>
    <span>Dryckeslista</span>
  </div>
  <div class="tab-option">
    <i class="material-icons">history</i>
    <span>Historik</span>
  </div>
  <script>
  $(function () {
    function offset(name, el, pos) {
      while (!el.classList.contains(name)) {
        pos.left += el.offsetLeft;
        pos.top += el.offsetTop;
        el = el.parentElement;
      }
      return pos;
    }
    $('.tabs').on('click', 'div', function (e) {
      var $tab = $(this);
      $('.tabs-container').css('transform', 'translate3d(-' + $tab.index() + '00vw,0,0)');

      $('.tabs > div').removeAttr('aria-selected');
      $tab.attr('aria-selected', true);

      var pos = offset('tab-option', e.target, {
        top: e.offsetY,
        left: e.offsetX,
      });
      var $ink = $('<div>').addClass('ink initial').css(pos).appendTo($tab)

      setTimeout(function() {
        $ink.removeClass('initial');
        setTimeout(function () {
          $ink.remove();
        }, 300)
      }, 30);
    });
  });
  </script>
</div>
<div class="tabs-viewport">
  <div class="tabs-container">
    <div id="streque-tab" class="tab-content">
      {% include 'strecklista/components/streque.html' with user=user groups=groups drinks=price_groups %}
    </div>
    <div id="drinks-tab" class="tab-content">
      {% include 'strecklista/components/products.html' with categories=drink_categories %}
    </div>
    <div id="history-tab" class="tab-content">
      {% include 'strecklista/components/transactions.html' with transactions=transactions %}
    </div>
  </div>
</div>
{% endblock %}
