{% load staticfiles %}
{% load pwa %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Strequelistan - för torstiga studenter</title>
{% progressive_web_app_meta %}
<link rel="icon" type="image/png" href="{% static 'strecklista/images/icon-48.png' %}">
<link rel="stylesheet" href="{% static 'strecklista/css/bootstrap.min.css' %}">
{# jquery #}
<script src="{% static 'strecklista/js/jquery.js' %}"></script>
<script src="{% static 'strecklista/js/bootstrap.min.js' %}"></script>
{% comment %}
Custom CSS-changing js:
* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top.
  Change if height of navigation changes.
{% endcomment %}
<script>
$(document).ready(function() {
  var timer;
  var nav = $("nav");

  var updatePadding = function() {
    var height = nav.height() + 10;
    $("body").css("padding-top", height + "px");
    // Counteract this foolishness.
    $(".tabs-viewport").css("margin-top", "-" + height + "px");
  };

  $(window).resize(function() {
    // wait for window to stop resizing
    clearTimeout(timer);
    timer = setTimeout(updatePadding, 25)
  });

  updatePadding()
});
</script>
{% comment %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
{% endcomment %}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
