{# Shift the content down to offset for the navbar. #}
<style media="screen">body {padding-top: 50px}</style>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    {# Brand and toggle get grouped for better mobile display #}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Strequelistan</a>
    </div>
    {# Collect the nav links, forms, and other content for toggling #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/quote/">Citat</a></li>
        <li><a href="/heddaHopper/">Tipsa Hedda Hopper</a></li>
        <li><a href="/suggestions/">Förslagslåda</a></li>
        {# This is only showed to admins #}
        {% if request.user.is_admin %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/">Web admin</a></li>
            <li><a href="/admintools/">Admin verktyg</a></li>
            <li><a href="/bulkTransactions/">Bulktransaktioner</a></li>
            <li><a href="/transactionHistory/">Transaktionshistorik</a></li>
          </ul>
        </li>
        {% endif %}
        <li><a href="/profile/{{request.user.id}}">
          Profil - {{request.user.first_name}} {{request.user.last_name}}
        </a></li>
        <li><a href="/logout/">Logga ut</a></li>
      </ul>
    </div>{# navbar-collapse #}
  </div>{# container #}
</nav>
