<div id="balanceAlertContainer">
  {% if user.balance < 100 %}
    <div class="alert {% if user.balance < 0 %}alert-danger{% else %}alert-warning{% endif %}">
      Det {% if user.balance < 0 %}finns inga{% else %}är ont om{% endif %} pengar på kontot. Dags att fylla på?
    </div>
  {% endif %}
</div>
{%if quote%}
<blockquote>
  {{quote.text}}
  <p style="font-style: italic;text-align: right;">&mdash; {{quote.who}}</p>
</blockquote>
{% endif %}
{%include 'strecklista/components/usercard.html' with user=current_user drinks=drinks %}

<h2>Alla</h2>
{% for group in groups %}
  <h3>{{group.name}}</h3>
  {% for user in group.users %}
    {%include 'strecklista/components/usercard.html' with user=user drinks=drinks %}
  {% endfor %}
{% endfor %}
