{% load staticfiles %}
<div id="balanceAlertContainer">
  {% if user.balance < 100 %}
    <div class="alert {% if user.balance < 0 %}alert-danger{% else %}alert-warning{% endif %}">
      Det {% if user.balance < 0 %}finns inga{% else %}är ont om{% endif %} pengar på kontot. Dags att fylla på?
    </div>
  {% endif %}
</div>

{%if quote %}
  <div id="quote" style="display:flex;align-items:center;margin-bottom:20px">
    <blockquote style="flex:1;margin:0">
      <span>{{quote.text}}</span>
      <p style="font-style: italic;text-align: right;">&mdash; {{quote.who}}</p>
    </blockquote>
    <button class="material-icon-button" onclick="getNewQuote()">
      <i class="material-icons">refresh</i>
    </button>
  </div>
  <style>
    .material-icon-button {
      background: #f0f0f0; 
      border: 0;
      height: 36px;
      padding: 0;
      width: 36px;
    }
  </style>
  <script>
    function getNewQuote() {
      $.getJSON('/api/randomQuote').then(function (response) {
        var quote = response.results[0];
        var block = document.querySelector('#quote blockquote');
        block.querySelector('span').innerText = quote.text;
        block.querySelector('p').innerText = '\u2014 ' + quote.who;
      });
    }
  </script>
{% endif %}

{%include 'strecklista/components/usercard.html' with user=current_user drinks=drinks %}

<h2>Filtrera användare</h2>
<div style="display:flex;margin-bottom:20px;">
  <input type="text" id="user-filter" placeholder="Namn" autocomplete="off" style="flex:1;min-width:0;max-width:350px;margin-right:10px;">
  <input id="clear-filter" type="button" value="Rensa" style="background:#f0f0f0;border:0;min-height:40px;min-width:40px;">
</div>

<script>
class NormalizedRegExp extends RegExp {
  test(str) {                 // separate diacritics from "regular" chars, remove diacritics, and test again
    return super.test(str) || super.test(str.normalize('NFKD').replace(/[^A-Za-z]/g, ""));
  }
}

function doFilter() {
  var re = new NormalizedRegExp(this.value, "i");
  var cards = document.querySelectorAll(".user-card:not(.current-user)");

  for (var i = 0; i < cards.length; i++) {
    var nameEl = cards[i].querySelector(".display-name");

    if (re.test(nameEl.innerHTML)
      || re.test(nameEl.dataset.firstname)
      || re.test(nameEl.dataset.lastname)) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}

function doInefficientFilter() {
  var re = new NormalizedRegExp(this.value, "i");
  var groups = document.getElementsByClassName("group");

  for (var i = 0; i < groups.length; i++) {
    var cards = groups[i].getElementsByClassName("user-card");
    var matches = [];

    for (var j = 0; j < cards.length; j++) {
      var nameEl = cards[j].querySelector(".display-name");
      var fullName = nameEl.dataset.firstname + " " + nameEl.dataset.lastname;

      if (re.test(fullName)
          || re.test(nameEl.dataset.nickname)) {
        cards[j].style.display = "";
        matches.push(cards[j]);
      } else {
        cards[j].style.display = "none";
      }
    }

    if (matches.length > 0) {
      groups[i].style.display = "";
    } else {
      groups[i].style.display = "none";
    }
  }
}

function userFilter() {
  var filter = document.getElementById("user-filter");
  filter.addEventListener("input", doInefficientFilter)
}

function clearFilter() {
  var filter = document.getElementById("user-filter");
  var clear = document.getElementById("clear-filter");
  clear.addEventListener("click", function () {
    filter.value = "";
    doInefficientFilter();
  })
}

userFilter();
clearFilter();
</script>

<h2>Alla</h2>
{% for group in groups %}
<div class="group">
  <h3>{{group.name}}</h3>
  {% for user in group.users %}
    {%include 'strecklista/components/usercard.html' with user=user drinks=drinks %}
  {% endfor %}
</div>
{% endfor %}
