{% comment %}
Context:
    user: hash
      alcohol: float
      avatar: Image or None
      display_name: str
      group: int
      id: int

    drinks: list of hash
      id: int
      name: str
{% endcomment %}
{% load imagekit %}
<div class="card user-card {% if user == current_user %}current-user{% endif %}">
  <div class="name">
    <a class="profile" href="/profile/{{ user.id }}">
      {% if user.avatar %}
        {% thumbnail '128x128' user.avatar -- class="mini-avatar" %}
      {% else %}
        <div class="mini-avatar">
          &#128546;
        </div>
      {% endif %}
      <span data-firstname="{{ user.first_name }}" data-lastname="{{ user.last_name}}" data-nickname="{{ user.nickname }}" class="display-name">{{ user.display_name }}</span>
    </a>
    <span class="alcometer" data-toggle="tooltip" data-placement="right" title="{{ user.alcohol }}‰">
      {% if user.alcohol == 0 %} {# Don't show anything if at 0 #}
      {% elif user.alcohol < 0.2 %}
      🍺
      {% elif user.alcohol < 0.5 %}
      🍻
      {% elif user.alcohol < 1 %}
      👌
      {% elif user.alcohol < 1.5 %}
      🕺
      {% elif user.alcohol < 2 %}
      😟
      {% elif user.alcohol < 3 %}
      🤢
      {% elif user.alcohol < 5 %}
      😵
      {% elif user.alcohol < 7 %}
      💀
      {% elif user.alcohol < 10 %}
      🇷🇺
      {% else %}
      🇫🇮
      {% endif %}
    </span>
  </div>
  <div class="drinks">
    {% for drink in drinks %}
      <form method="post" class="drink">
        {% csrf_token %}
        <input type="hidden" value="{{user.id}}" name="userId">
        <input type="hidden" value="{{drink.id}}" name="priceGroup">
        <input type="button" value="{{drink.name}}" class="transactionSubmit">
      </form>
    {% endfor %}
  </div>
</div>
